# PostgreSQL. Порт 5433 пробрасывается из docker-compose.yml
DATABASE_URL="postgresql://opkit:opkit_password@localhost:5433/opkit?schema=public"

# Секрет для подписи JWT access token
JWT_SECRET="change_me"

REDIS_URL="redis://localhost:6379"

PORT=3000
FRONTEND_URL="http://localhost:5173"
